extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-classic
include ../elements/_ui-team-classic
include ../elements/_ui-gallery-item-title-inside
include ../elements/_ui-counter

block variables
	- var activeIndex = 0
	- var pageName = 'Home'

block page
	// Page Header
	include ../sections/_header
	="\n"

	// Inspirational technologies
	section.section.bg-gray-darker.text-center#home
		.section-xl.bg-vide(data-vide-bg="mp4: video/office-day, poster: video/office-day" data-vide-options='posterType: jpg, position: 0% 50%')
			.container.container-wide
				.row.row-50.justify-content-md-center
					.col-md-10.col-xl-9
						h1 Inspirational Technologies
						p.big Rhombus was created with the idea of bringing you multipurpose and flexible IT Solutions. We use various innovative technologies that make your work not only easier but more productive without unnecessary coding.
						a.button.button-primary(href='#contact-us' data-bs-toggle='modal') learn more
	="\n"


	// Hi, we are EFFECTIVE
	section.section.section-lg.bg-default#about-us
		.container.container-bigger
			.row.row-50.justify-content-md-center.align-items-lg-center.justify-content-xl-between.flex-lg-row-reverse
				.col-md-9.col-lg-5.col-xl-5
					h3 Hi, we are Rhombus
					.divider.divider-default
					p.heading-5 Rhombus is a team of experts bringing you innovative web and IT solutions that combine captivating design and flawless functionality in our every project.
					p.text-spacing-sm We’re the leading provider of IT services for companies all over the USA. We operate on a managed services model that offers proactive outsourced IT services aswell as design, development, and management services at affordable, consistent rates.
					a.button.button-default-outline(href='#contact-us' data-bs-toggle='modal') learn more
				.col-md-9.col-lg-6
					+img('about-us-1-720x459')
	="\n"

	// Our Services
	section.section.section-lg.bg-gray-lighter.text-center#services
		.container-wide
			.text-center
				h3 Our Services
				.divider.divider-default

			.row.row-50.justify-content-sm-center.offset-custom-2
				.col-sm-10.col-md-6.col-lg-4.col-xl-3
					+thumbnail-classic({
						modClass: 'thumbnail-classic-primary',
						icon_class: 'mdi mdi-cellphone-android',
						title: 'Mobile Apps Development',
						text: 'At Rhombus, we work for our customers every day to deliver the best mobile applications for any purposes. We work both with individual and corporate customers.'
					})

				.col-sm-10.col-md-6.col-lg-4.col-xl-3
					+thumbnail-classic({
						modClass: 'thumbnail-classic-primary',
						icon_class: 'mdi mdi-television-guide',
						title: 'Website Design',
						text: 'Our expert team can design a website of any complexity, from a landing page to a corporate multipage website. Everything depends on what you are looking for.'
					})

				.col-sm-10.col-md-6.col-lg-4.col-xl-3
					+thumbnail-classic({
						modClass: 'thumbnail-classic-primary',
						icon_class: 'mdi mdi-headset',
						title: 'IT Consulting',
						text: 'Our team is glad to provide you with professional IT consulting services 24/7. We have been helping lots of companies since our establishment.'
					})

				.col-sm-10.col-md-6.col-lg-4.col-xl-3
					+thumbnail-classic({
						modClass: 'thumbnail-classic-primary',
						icon_class: 'mdi mdi-web',
						title: 'Internet Marketing',
						text: 'In the modern world of rapid web development, internet marketing plays a vital role in your company’s promotion. We are happy to assist you with it.'
					})
	="\n"

	section.section.section-sm.text-center.bg-primary
		.container-wide
			.box-cta-thin
				p.big
					strong Make the right choice!
					| &nbsp;
					span Do you need a consultation?
					| &nbsp;
					a(href='#contact-us' data-bs-toggle='modal').fw-bold.link-secondary-1 Call us now!
	="\n"


	include ../sections/_section-brands

	// Our Projects
	section.section.section-lg.text-center.bg-default#projects
		.container.container-bigger
			h3 Our Projects
			include ../elements/_about-gallery

			a.button.button-primary(href='#') view all projects	
	="\n"

	// Counters
	+parallax-section({
		parallaxImage: 'parallax-image-1-1920x1010'
	}).context-dark
		.section-md.text-center
			.container
				.row.row-50.justify-content-sm-center
					.col-sm-10.col-md-6.col-xl-3
						+counter("Projects", "", {
							"dataTo": "62000",
							"dataSpeed": "3000",
							"attr": ""
						}, "heading-3", 'mdi mdi-television-guide')

					.col-sm-10.col-md-6.col-xl-3
						+counter("Happy Clients", "", {
							"dataTo": "246000",
							"dataSpeed": "3000",
							"attr": ""
						}, "heading-3", 'mdi mdi-account-multiple-outline')

					.col-sm-10.col-md-6.col-xl-3
						+counter("Hours of Coding", "", {
							"dataTo": "1200",
							"dataSpeed": "3000",
							"attr": ""
						}, "heading-3", 'mdi mdi-clock')

					.col-sm-10.col-md-6.col-xl-3
						+counter("Lines of Code", "", {
							"dataTo": "12000",
							"dataSpeed": "3000",
							"attr": ""
						}, "heading-3",'mdi mdi-code-tags')
	="\n"

	// Our Team
	section.section.section-lg.bg-default.text-center#our-team
		.container.container-bigger
			h3 Our Team
			hr.divider.divider-default
			.row.row-50
				.col-md-6.col-lg-3
					+team-classic('teamClassic',{
						image: 'team-01-270x270',
						title: 'Sandra Ferguson',
						job_position: 'Senior Designer'
					})
				.col-md-6.col-lg-3
					+team-classic('teamClassic',{
						image: 'team-02-270x270',
						title: 'Ronald Chen',
						job_position: 'Marketing Manager'
					})
				.col-md-6.col-lg-3
					+team-classic('teamClassic',{
						image: 'team-03-270x270',
						title: 'Frances Watson',
						job_position: 'Support Operator'
					})
				.col-md-6.col-lg-3
					+team-classic('teamClassic',{
						image: 'team-04-270x270',
						title: 'Joe Myers',
						job_position: 'Developer'
					})




	="\n"

	// Testimonials
	section.section.section-lg.text-center.bg-gray-lighter#testimonials
		include ../elements/_ui-testimonials-1

	="\n"

	// CTA
	section.section.section-md.text-center.bg-gray-dark
		.container-wide
			.box-cta-thin
				p.big
					span.label-cta.label-cta-primary Hot!
					strong Rhombus
					| &nbsp;
					span is your choice in the world of IT companies.&nbsp;
					a.link-secondary.fw-bold(href='#contact-us' data-bs-toggle='modal') Contact us now!
	="\n"

	// Blog posts
	section.section.section-lg.bg-gray-lighter.text-center#news
		.container-wide
			.row.row-50
				.col-sm-12
					h3 Latest News
					.divider.divider-default
					// Owl Carousel
					.owl-carousel.owl-carousel-team.owl-carousel-inset( data-autoplay='true'
					data-items='1'
					data-md-items='2'
					data-lg-items='3'
					data-xl-items='3'
					data-xxl-items='3'
					data-stage-padding='15'
					data-loop='false'
					data-margin='30'
					data-mouse-drag="false"
					data-dots='true')
						article.post-blog
							a(href=postLink).post-blog-image
								+img('landing-it-company-7-570x415')
							.post-blog-caption
								.post-blog-caption-header
									ul.post-blog-tags
										li: a(href=postLink).button-tags Tips & Tricks
									ul.post-blog-meta
										li
											span by
											| &nbsp;
											a(href='#') Ronald Chen
								.post-blog-caption-body
									h5: a(href=postLink).post-blog-title Why Outsourcing IT Services for Small Business Owners is Beneficial
	
								.post-blog-caption-footer
									time(datetime='2021') Feb 27, 2021 at 6:53 pm
									a(href=postLink).post-comment
										span.icon.icon-md-middle.icon-gray-1.mdi.mdi-comment
										span 3
	
						article.post-blog
							a(href='#').post-blog-image
								+img('landing-it-company-8-570x415')
							.post-blog-caption
								.post-blog-caption-header
									ul.post-blog-tags
										li: a(href='#').button-tags News
									ul.post-blog-meta
										li
											span by
											| &nbsp;
											a(href='#') Ronald Chen
								.post-blog-caption-body
									h5: a(href='#').post-blog-title Important Info: Know These Types of Malware and Stay Protected
	
								.post-blog-caption-footer
									time(datetime='2021') Feb 27, 2021 at 6:53 pm
									a(href='#').post-comment
										span.icon.icon-md-middle.icon-gray-1.mdi.mdi-comment
										span 3
	
						article.post-blog
							a(href='#').post-blog-audio
								+img('landing-it-company-9-570x415')
							.post-blog-caption
								.post-blog-caption-header
									ul.post-blog-tags
										li: a(href='#').button-tags Tips & Tricks
									ul.post-blog-meta
										li
											span by
											| &nbsp;
											a(href='#') Ronald Chen
								.post-blog-caption-body
									h5: a(href='#').post-blog-title Tips and Tricks for Avoiding IoT (Internet of Things) Threats
	
								.post-blog-caption-footer
									time(datetime='2021') Feb 27, 2021 at 6:53 pm
									a(href='#').post-comment
										span.icon.icon-md-middle.icon-gray-1.mdi.mdi-comment
										span 3
				.col-sm-12
					a.button.button-primary(href=blogLink) view all blog posts
	="\n"

	section.section
		.google-map-container(data-zoom='5', data-center="6036 Richmond hwy., Alexandria, VA, 2230", data-icon="images/gmap_marker.png", data-icon-active="images/gmap_marker_active.png")
			.google-map
			ul.google-map-markers
				li(data-location="6036 Richmond hwy., Alexandria, VA, 2230", data-description="6036 Richmond hwy., Alexandria, VA, 2230")
	="\n"

	// Page Footer
	+footer-default({className: 'bg-gray-darker'})
	

	// Modal
	#contact-us.modal.fade(tabindex='-1' aria-hidden='true')
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-header 
					h4.modal-title Contact Us
					button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
					
				.modal-body
					form.rd-mailform.rd-mailform-sm(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.form-wrap.form-wrap-validation
							input.form-input(id='modal-form-name' type="text" name="name" data-constraints='@Required')
							label.form-label(for='modal-form-name') Name
						.form-wrap.form-wrap-validation
							input.form-input(id='modal-form-email' type="email" name="email" data-constraints="@Email @Required")
							label.form-label(for='modal-form-email') E-mail
						.form-wrap.form-wrap-validation
							input.form-input(id='modal-form-phone' type="text" name="phone" data-constraints="@Numeric @Required")
							label.form-label(for='modal-form-phone') Phone
						.form-wrap.form-wrap-validation
							
							textarea.form-input(id='modal-form-message' name="message" data-constraints="@Required")
							label.form-label(for='modal-form-message') Message
						.form-button
							button.button.button-sm.button-primary(type='submit') Submit
				